.form-box{
    padding-left: 20px;
    margin-top: 50px;
}

.forgotPass{
    width: 60%;
    text-align: end;
    margin-top: 15px;
}

.direction-one{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    font-size: 12px;
}

.direction-one:hover{
    color: blue;
}

.signup{
    width: 60%;
    margin-top: 130px;
    text-align: center;
}

.direction-two{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.direction-two:hover{
    color: blue;
}


/* bagian di menu signup */

.login{
    width: 60%;
    margin-top: 130px;
    text-align: center;
}