.title{
    padding-top: 35px;
    padding-left: 115px;
    color: white;
}

.title p{
    font-size: 45px;
    font-weight: 600;
}


.phone-1{
    position: absolute;
    z-index: 1;
    left: 250px;

}

.phone-2{
    position: absolute;
    z-index: 1;
    left: 120px;
}

.title-text{
    font-size: 30px;
    font-weight: 700;

}

.subtext{
    font-size: 20px;
}